
$bgLight: #F2F4F7;
$bgGrey: #4D4D4D;
$bgLightGrey: #F7F7F7;

$bgSecondary: #F9F9F9;

$borderGreyColor: #CACACA;

$textGrey: #9F9F9F;
$textLight: #A2A2A2;
$textDark: #4D4D4D;
$textLightGrey: #666666;
$textBlue: #04A2D3;
$textDanger: #FF0000;

$black: #000;
$white: #fff;