.Range {

  &__heading {
    width: 100%;
    height: auto;
    padding: 2.5rem;
    background-color: $bgLight;

    h1 {
      @include headingText;
    }
  }

  &__supplier {
    padding: 2.5rem;
  }

  &__info {
    padding: 0 2.5rem;
    margin-bottom: 2.5rem;

    &_heading {
      h1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;

        span {
          margin-left: 1rem;
          color: $bgGrey;
          font-size: 18px;
        }
      }
    }

    &_list {
      width: 35%;

      &-field {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        .list-title {
          width: 40%;
        }

        .list-value {
          width: 60%;
        }
      }
    }
  }

  &__stock {
    padding: 0 2.5rem;

    &_content {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &-files, &-valid {
        width: 48%;
      }

      &-files {

        h2 {
          color: $textBlue;
          margin-bottom: 1rem;
        }

        .ant-upload-drag-icon {
          margin-bottom: 1rem !important;
        }
      }

      &-valid {
        .validContent {
          background: #FBFBFB;
          border: 1px solid #CFCFCF;
          box-sizing: border-box;
          border-radius: 5px;
          padding: 1.5rem;

          &__checker {
            display: flex;

            p {
              margin-top: 0.15rem;
              margin-bottom: 0;
              margin-left: 1rem;
            }
          }

          &__content {

            .ant-radio-group {
              padding: 0.75rem 0;
            }

            &_time {
              display: flex;
              justify-content: flex-start;
              align-items: center;

              button {
                background: #9F9F9F;
                border-radius: 5px;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                color: $white;
                font-size: 18px;

                &:hover {
                  cursor: pointer;
                }
              }

              .ant-input-number-handler-wrap {
               display: none;
              }

              .ant-input-number {
                margin: 0 0.5rem;
              }

              .ant-select {
                margin-left: 1rem;
              }
            }

            &_info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              margin-top: 1rem;

              &-date {
                p {
                  margin-bottom: 1.5rem;
                }
              }

              &-time {
                p {
                  color: $bgGrey;
                  margin-bottom: 0;
                }

                h2 {
                  color: $textLightGrey;

                  span {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }

    &_statistic {

      &-heading {
        margin-bottom: 1rem;
      }

      &-list {
        display: flex;

        &--item {
          display: flex;
          flex-direction: column;

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
  }

  &__files {

  }
}