.Range, .RangeItem {

  &__heading {
    width: 100%;
    height: auto;
    padding: 2.5rem;
    background-color: $bgLight;

    h1 {
      @include headingText;
    }
  }

  &__supplier {
    padding: 2.5rem;
  }

  &__info {
    padding: 0 2.5rem;
    margin-bottom: 2.5rem;

    &_heading {
      h1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;

        span {
          margin-left: 1rem;
          color: $bgGrey;
          font-size: 18px;
        }
      }
    }

    &_list {
      width: 35%;

      &-field {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        .list-title {
          width: 40%;
        }

        .list-value {
          width: 60%;
        }
      }
    }
  }

  &__stock {
    padding: 0 2.5rem;

    &_content {

      &-files, &-valid {
        display: flex;
        flex-direction: column;
        width: calc(100% - 10px);
        height: 100%;
      }

      &-files {

        h2 {
          color: $textBlue;
          margin-bottom: 1rem;
        }

        .ant-upload {
          background-color: transparent !important;
          padding: 2rem 1rem !important;
          transition: all .3s !important;

          &:hover {
            background-color: #FBFBFB !important;
          }

          &-drag {

            &-icon {
              margin-bottom: 1rem !important;
            }
          }
        }
      }

      &-valid {
        margin-left: 10px;

        .validContent {
          background: #FBFBFB;
          border: 1px solid #CFCFCF;
          box-sizing: border-box;
          border-radius: 5px;
          padding: 1.5rem;

          &__checker {
            display: flex;

            p {
              margin-top: 0.15rem;
              margin-bottom: 0;
              margin-left: 1rem;
            }
          }

          &__content {

            .ant-radio-group {
              padding: 0.75rem 0;
            }

            &_time {
              display: flex;
              justify-content: flex-start;
              align-items: center;

              button {
                background: #9F9F9F;
                border-radius: 5px;
                width: 32px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                color: $white;
                font-size: 18px;

                &:hover {
                  cursor: pointer;
                }
              }

              .ant-input-number-handler-wrap {
               display: none;
              }

              .ant-input-number {
                margin: 0 0.5rem;
              }

              .ant-select {
                margin-left: 1rem;
              }
            }

            &_info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              margin-top: 1rem;

              &-date {
                p {
                  margin-bottom: 1.5rem;
                }
              }

              &-time {
                p {
                  color: $bgGrey;
                  margin-bottom: 0;
                }

                h2 {
                  color: $textLightGrey;
                  margin-bottom: 0;

                  span {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }

    &_statistic {
      margin: 2rem 0;

      &-heading {
        margin-bottom: 1rem;
      }

      &-list {
        display: flex;

        &--item {
          display: flex;
          flex-direction: column;
          align-items: center;

          &:first-child {
            align-items: flex-start;
          }

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
  }

  &__files {
    padding: 20px 2.5rem 20px 2.5rem;
    background-color: $bgLightGrey;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.05);

    h2 {
      margin-bottom: 20px;
    }

    &_add {
      width: 100%;
      border: 1px solid #CFCFCF;
      border-radius: 5px;
      padding: 1.25rem 1.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:hover {
        border: 1px solid $textBlue;
        background-color: #E3E3E3;
        cursor: pointer;
      }

      .ant-btn-primary {
        padding: 0 0.3rem !important;

        &:hover {
          background-color: $textBlue !important;

          svg, p, i {
            color: $white !important;
          }
        }

        svg {
          color: $white;
        }
      }

      p {
        color: $textBlue;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 1rem;
      }
    }

    &_filters {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .ant-input-affix-wrapper {
        width: calc(50% - 10px);

        svg {
          color: $textLight !important;
        }
      }
    }

    &_statistic {
      margin-top: 1rem;

      p {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    .ant-table {
      background-color: transparent;

      &-column-sorters {
        padding: 16px 0;
      }

      .table-name {
        display: flex;
        align-items: center;

        img {
          margin-right: 0.5rem;
          width: 15px;
        }
      }

      table {
        border-spacing: 0 10px;

        thead {
          &>tr {
            &>th {
              background-color: #E3E3E3;
              padding: 1rem;

              &:first-child {
                border-spacing: initial;
              }
            }
          }
        }

        tbody {
          &>tr {
            border: 1px solid #EBEBEB;

            &>td {
              background-color: #fff;
              padding: 2rem 1rem;

              &:first-child {
                border-radius: 5px 0 0 5px;
                border-left: 5px solid #F9AC69;
                border-spacing: initial;
              }

              &:last-child {
                border-radius: 0 5px 5px 0;
              }

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  &__land {
    padding: 40px 2.5rem;
    border: 1px solid #E3E2E2;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &_info {
      &-heading {
        p {
          color: #838383;
        }
      }

      &-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
          margin-bottom: 0;

          &:not(:last-child) {
            margin-right: 2rem;
          }

          span {
            margin-left: 0.5rem;
          }
        }
      }
    }

    &_button {

    }
  }

  &__buttons {
    padding: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.RangeItem {

  .ant-input {
    padding: 0.5rem 1rem !important;
    border-radius: 5px !important;
  }

  &__heading {
    h1 {
      span {
        color: $textLightGrey;
        margin-right: 1rem;
        font-size: 18px;
        transition: all .3s;

        &:hover {
          cursor: pointer;
          color: $textLight;
        }
      }
    }
  }

  &__name {
    padding: 2.5rem;
  }

  &__template {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }

  &__type {
    padding: 0 2.5rem 2.5rem 2.5rem;

    &_text {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        margin-bottom: 0;
        margin-left: 1rem;
      }
    }

    &_select {
      margin-top: 1rem;
      background-color: #F9F9F9;
      padding: 1rem;

      .select-list {

        .input-label {
          margin-bottom: 1rem;
        }

        &__container {

          .ant-radio-group {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 10vh;
            padding-right: 2rem;

            .ant-radio-wrapper {
              //margin-bottom: 20px;
            }

            .ant-input {
              padding: 0.5rem 0.75rem 0.5rem 1rem !important;
              border-radius: 5px;
              width: 40px !important;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  &__pool {
    padding: 0 2.5rem 2.5rem 2.5rem;

    &_heading {
      h1 {
        @include headingText;
        color: $black;
        font-weight: bold;
        margin-bottom: 0.25rem;
      }

      p {
        font-size: 16px;
      }
    }

    &_static {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      p {
        span {
          font-weight: bold;
        }
      }

      .ant-btn {
        padding: 0.5rem !important;
      }
    }

    .ant-table {
      &-thead {
         & > tr {
           & > th {
             background-color: #E3E3E3;
             color: #04A2D3;
           }
         }
       }

      &-tbody {

        & > tr {
          transition: all .3s;

          &:hover {
            cursor: pointer;

            & > td {
              background-color: #F9F9F9 !important;
              color: $black;

              p {
                color: $black;
              }
            }
          }
        }
      }

      .selectedRow {
        background-color: #00ADE3 !important;
        color: $white;

        p {
          color: $white;
        }

        &:hover {
          & > td {
            background-color: #04A2D3 !important;
            color: $white;

            p {
              color: $white;
            }
          }
        }
      }

      p {
        margin-bottom: 0;
      }

      .blue-text {
        color: #04A2D3;
      }
    }
  }

  &__columns {
    padding: 0 2.5rem 2.5rem 2.5rem;

    &_heading {
      h1 {
        @include headingText;
        color: $black;
        font-weight: bold;
        margin-bottom: 0.25rem;
      }

      p {
        font-size: 16px;
      }
    }

    &_content {
      background-color: #F9F9F9;
      padding: 2.5rem 10rem;

      &-icon {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ant-row-center {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      .ant-select {
        width: 100%;
      }
    }
  }

  &__correct {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }

  &__check {
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem 2.5rem 2.5rem;

    &_buttons {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-first {
        button {
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Range {
    display: none;
  }
}