.RangeLife {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .lifeTransition-enter {
    opacity: 0;
  }
  .lifeTransition-enter-active {
    opacity: 1;
    transition: opacity ease-in 300ms;
  }
  .lifeTransition-exit {
    opacity: 1;
  }
  .lifeTransition-exit-active {
    opacity: 0;
    transition: opacity ease-out 300ms;
  }

  &__content {
    background: #FBFBFB;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1.5rem;

    &_checker {
      display: flex;

      p {
        margin-top: 0.15rem;
        margin-bottom: 0;
        margin-left: 1rem;
      }
    }

    &_data {

      .ant-radio-group {
        padding: 0.75rem 0;
      }

      &-time {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        button {
          background: #9F9F9F;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          color: $white;
          font-size: 18px;
          padding: 0 0.5rem;
          outline:none;

          &:first-child {
            padding: 0 0.7rem;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .ant-input-number-handler-wrap {
          display: none;
        }

        .ant-input-number {
          margin: 0 0.5rem;
        }

        .ant-select {
          margin-left: 1rem;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;

        &--date {
          p {
            margin-bottom: 1.5rem;
          }
        }

        &--time {
          p {
            color: $bgGrey;
            margin-bottom: 0;
          }

          h2 {
            color: $textLightGrey;
            margin-bottom: 0;

            span {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}