.heading {
  width: 100%;
  height: auto;
  padding: 2.5rem;
  background-color: $bgLight;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__buttons {
    display: flex;
    align-items: center;

    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  h1 {
    @include headingText;

    span {
      color: $textLightGrey;
      margin-right: 1rem;
      font-size: 18px;
      transition: all .3s;

      &:hover {
        cursor: pointer;
        color: $textLight;
      }
    }
  }
}