.Range, .RangeItem, .RangeAdd, .RangeList {

  &__supplier {
    padding: 2.5rem;

    &_data {

      .ant-select-selector {
        padding: 0.35rem 1rem !important;
      }

      button {
        margin-left: 10px;
        padding: 10px 15px !important;
      }
    }
  }

  &__info {
    padding: 0 2.5rem;
    margin-bottom: 2.5rem;

    &_heading {

      h1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;

        span {
          margin-left: 1rem;
          color: $bgGrey;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }

    &_list {
      width: 45%;

      &-field {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        .list-title {
          width: 30%;
        }

        .list-value {
          width: 70%;
        }
      }
    }
  }

  &__stock {
    padding: 0 2.5rem;

    &_content {

      &-files, &-valid {
        width: calc(100% - 10px);
      }

      &-files {
        display: flex;
        flex-direction: column;
        height: 100%;

        h2 {
          color: $textBlue;
          margin-bottom: 1rem;
        }

        .ant-upload {
          background-color: transparent !important;
          padding: 2rem 1rem !important;
          transition: all .3s !important;

          &:hover {
            background-color: #FBFBFB !important;
          }

          &-drag {

            &-icon {
              margin-bottom: 1rem !important;
            }
          }
        }
      }
    }

    &_statistic {
      margin: 2rem 0;

      &-heading {
        margin-bottom: 1rem;
      }

      &-list {
        display: flex;

        &--item {
          display: flex;
          flex-direction: column;
          align-items: center;

          &:first-child {
            align-items: flex-start;
          }

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
  }

  &__files {
    padding: 20px 2.5rem 20px 2.5rem;
    background-color: $bgLightGrey;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.05);

    h2 {
      margin-bottom: 20px;
    }

    &_add {
      width: 100%;
      border: 1px solid #CFCFCF;
      border-radius: 5px;
      padding: 1.25rem 1.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all .3s;

      &:hover {
        border: 1px solid $textBlue;
        background-color: #E3E3E3;
        cursor: pointer;
      }

      .ant-btn-primary {
        padding: 0 0.3rem !important;

        &:hover {
          background-color: $textBlue !important;

          svg, p, i {
            color: $white !important;
          }
        }

        svg {
          color: $white;
        }
      }

      p {
        color: $textBlue;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 1rem;
      }
    }

    &_filters {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .ant-input-affix-wrapper {
        width: calc(50% - 10px);

        svg {
          color: $textLight !important;
        }
      }
    }

    &_statistic {
      margin-top: 1rem;

      p {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    .ant-table {
      background-color: transparent;

      &-column-sorters {
        padding: 16px 0;
      }

      .table-name {
        display: flex;
        align-items: center;

        img {
          margin-right: 0.5rem;
          width: 15px;
        }
      }

      table {
        border-spacing: 0 10px;

        thead {
          &>tr {
            &>th {
              background-color: #E3E3E3;
              padding: 1rem;

              &:first-child {
                border-spacing: initial;
              }
            }
          }
        }

        tbody {
          &>tr {
            border: 1px solid #EBEBEB;

            &>td {
              background-color: #fff;
              padding: 2rem 1rem;

              &:first-child {
                border-radius: 5px 0 0 5px;
                border-left: 5px solid #F9AC69;
                border-spacing: initial;
              }

              &:last-child {
                border-radius: 0 5px 5px 0;
              }

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  &__land {
    padding: 40px 2.5rem;
    border: 1px solid #E3E2E2;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &_info {
      &-heading {
        p {
          color: #838383;
        }
      }

      &-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
          margin-bottom: 0;

          &:not(:last-child) {
            margin-right: 2rem;
          }

          span {
            margin-left: 0.5rem;
          }
        }
      }
    }

    &_button {

    }
  }

  &__buttons {
    padding: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.RangeItem, .RangeAdd, .RangeList {

  .ant-input {
    padding: 0.5rem 1rem !important;
    border-radius: 5px !important;
  }

  &__name {
    padding: 40px 2.5rem;

    input {
      font-size: 18px;
    }
  }

  &__template {
    padding: 0 2.5rem 40px 2.5rem;
  }

  &__type {
    padding: 0 2.5rem;

    &_text {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    &_select {
      margin-top: 10px;
      background-color: #F9F9F9;
      padding: 20px;

      .ant-col {
        &:nth-child(2) {
          .select-list {
            &__container {
              .ant-radio-group {
                height: 5rem;
              }
            }
          }
        }
        &:nth-child(3) {
          .select-list {
            &__container {
              .ant-radio-group {
                height: 2.5rem;
              }

              .ant-radio-wrapper {
                margin-right: 30px;
              }
            }
          }
        }
      }

      .select-list {

        .custom-radio {
          display: flex;
          align-items: flex-start;

          .ant-radio {
            margin-top: 4px;
          }

          span {
            display: flex;
            align-items: flex-start;
          }
        }

        .input-label {
          margin-bottom: 15px;
        }

        &__container {

          .ant-radio-group {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 6rem;
            width: fit-content;
            padding-right: 2rem;

            label {
              width: fit-content;
            }

            .ant-radio-wrapper {
              margin-bottom: 10px;
              margin-right: 30px;
            }

            .ant-input {
              padding: 0.5rem 0.75rem 0.5rem 1rem !important;
              border-radius: 5px;
              width: 40px !important;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  &__pool {
    padding: 40px 2.5rem 40px 2.5rem;

    &_heading {
      margin-bottom: 10px;

      h1 {
        @include headingText;
        color: $black;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 10px;
      }
    }

    &_static {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin-top: 20px;

      p {
        span {
          font-weight: bold;
        }
      }

      .ant-btn {
        padding: 7px 10px !important;
        span {
          font-size: 14px !important;
        }
      }
    }

    .ant-table {
      background-color: #F8F8F8;

      table {
        border-spacing: 0 10px;

        thead {
          &>tr {
            &>th {
              background-color: #E3E3E3;
              padding: 2rem;

              &:first-child {
                border-spacing: initial;
              }
            }
          }
        }

        tbody {
          &>tr {

            &>td {
              background-color: #fff;
              padding: 2rem;

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      &-thead {
         & > tr {
           & > th {
             background-color: #E3E3E3;
             color: #04A2D3;
           }
         }
       }

      &-tbody {

        & > tr {
          transition: all .3s;

          &:hover {
            cursor: pointer;

            & > td {
              background-color: #F9F9F9 !important;
              color: $black;

              p {
                color: $black;
              }
            }
          }
        }
      }

      .selectedRow {

        & > td {
          background-color: #00ADE3 !important;
          color: $white;
        }

        p {
          color: $white;
        }

        &:hover {
          & > td {
            background-color: #00ADE3 !important;
            color: $white;

            p {
              color: $white;
            }
          }
        }
      }

      p {
        margin-bottom: 0;
      }

      .blue-text {
        color: #04A2D3;
      }
    }
  }

  &__columns {
    padding: 0 2.5rem 2.5rem 2.5rem;
    position: relative;

    &_overflow {
      background-color: #F9F9F9;
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      height: 100%;
      cursor: not-allowed;
    }

    &_heading {
      margin-bottom: 10px;

      h1 {
        @include headingText;
        color: $black;
        font-weight: bold;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    &_warning {
      width: fit-content;
      padding: 20px 30px;
      background-color: #FFFBE6;
      border: 1px solid #FFE9D6;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 10000;
      margin: 20px auto 20px;

      &-img {
        margin-right: 20px;
      }

      &-text {

        span {
          text-decoration: underline;
          color: $textBlue;
          cursor: pointer;
          transition: all .5s;

          &:hover {
            text-decoration: none;
            color: $textLightGrey;
          }
        }

        p {
          &:first-child {
            font-weight: bold;
            margin-bottom: 7.5px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &_content {
      background-color: #F9F9F9;
      padding: 30px 140px;

      &-icon {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .fa-times {
          cursor: pointer;
          transition: all .3s;

          &:hover {
            color: #666666;
          }
        }
      }

      .ant-row-center {
        &:first-child {
          margin-bottom: 15px !important;

          h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
          }
        }
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      .ant-select {
        width: 100%;
      }

      .button-col {
        display: flex;
        justify-content: flex-end;
      }

      .ant-input[disabled] {
        &::placeholder {
          color: $black;
        }
      }

      .select-column {
        color: $textGrey;
        float: right;
      }
    }

    .ant-btn {
      padding: 7px 10px !important;
      span {
        font-size: 14px !important;
      }
    }
  }

  &__correct {
    padding: 20px 2.5rem;
    background-color: $bgLightGrey;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.05);
    position: relative;

    &_overflow {
      background-color: #F9F9F9;
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      height: 100%;
      cursor: not-allowed;
    }

    &_is {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      p {
        color: #04A2D3;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    &_heading {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .ant-row {
        width: 100%;
        display: flex;
        align-items: center;

        .ant-input-affix-wrapper {
          padding: 0 1rem !important;

          .ant-input {
            padding: 0.5rem !important;
          }
        }

        p {
          margin-bottom: 0;
        }
      }

    }

    .ant-table {
      background-color: transparent;
      font-size: 12px;

      table {
        border-spacing: 0 10px;

        thead {
          &>tr {
            &>th {
              background-color: #EBEBEB;
              padding: 2rem;
              font-weight: 400;

              &:first-child {
                border-spacing: initial;
              }
            }
          }
        }

        tbody {
          &>tr {

            &>td {
              background-color: #fff;
              padding: 1.5rem 2rem;
              border: 0;

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .ant-pagination {
      margin: 10px 0 20px 0 !important;
    }
  }

  &__check {
    display: flex;
    flex-direction: column;
    padding: 40px;

    button {
      span {
        font-size: 16px;
        line-height: 18px;
      }
    }

    &_buttons {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-first {
        button {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.RangeAdd {

  //grid styles ---

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    &:first-child {
      width: calc(60% - 10px);
    }

    &:last-child {
      width: calc(40% - 10px);
    }
  }

  //blocks styles ---

  &__data {
    width: 100%;
    margin-bottom: 20px;

    &_content {
      background-color: $bgSecondary;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      &-address, &-site {
        margin-bottom: 20px;
      }

      &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--phone {
          width: calc(25% - 5px);
        }

        &--email {
          width: calc(75% - 5px);
        }
      }
    }
  }

  &__life {
    width: 100%;

    .RangeLife {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }

  &__persons {
    width: 100%;

    .fade-enter {
      opacity: 0;
      transform: scale(0.9);
    }
    .fade-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }
    .fade-exit {
      opacity: 1;
    }
    .fade-exit-active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 300ms, transform 300ms;
    }

    &_content {
      background-color: $bgSecondary;
      padding: 20px;
      margin-bottom: 10px;
      border-radius: 5px;

      .person {

        &__heading {
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          i {
            cursor: pointer;
            transition: all .3s;

            &:hover {
              color: $textLight;
            }
          }

          p, i {
            color: $textLightGrey;
            margin-bottom: 0;
          }
        }

        &__data {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          &_name {
            width: calc(65% - 5px);
          }

          &_phone {
            width: calc(35% - 5px);
          }
        }

        &__email {
          width: 100%;
        }
      }
    }

    &_new {
      background-color: $bgSecondary;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: $textLightGrey;
        margin-bottom: 0;
      }

      button {
        padding: 15px !important;
        width: 40px !important;
        height: 40px !important;
        display: flex;
        justify-content: center;
        align-items: center;

        span, i, svg {
          font-size: 12px;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background-color: $bgLight;

    &_buttons {
      button {
        margin-left: 10px;
      }
    }
  }
}

.RangeList {

  .stats-heading {
    font-size: 12px;
    line-height: 16px;
    color: $textLightGrey;
    text-decoration: none !important;
  }

  .text-danger {
    color: #FF0000;
  }

  .stats-bold {
    font-size: 18px;
    line-height: 150%;
    font-weight: bold;
  }

  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  &__stats {
    padding: 0 40px 40px 40px;

    .text-dark {
      margin-bottom: 20px;
    }

    &_main {
      .ant-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: fit-content;
        margin-right: 5vw;

        &:last-child {
          margin-right: 0;
        }

        p {
          text-align: center;
          text-decoration: underline;
          
          &:last-child {
            cursor: pointer;
          }
        }
      }
    }

    &_actual {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: center;

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }

      .ant-progress {
        margin-right: 15px;

        &-text {
          font-size: 16px !important;
          font-weight: bold;
        }
      }

      .stats-heading {
        margin: 0 0.25rem 1rem 0.25rem;
      }
    }

    &_data {
      display: flex;
      justify-content: flex-end;

      &-all, &-uniq {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: 40px;
      }
    }
  }
  &__filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 40px 40px 40px;

    .active {
      .ant-select-selector {
        background-color: #FAFDFF !important;
      }
    }

    .disabled {
      .ant-select-selector {
        background-color: #fff !important;
      }
    }

    .ant-input-affix-wrapper, .ant-select {
      width: calc(35% - 10px);
      padding: 0 1rem !important;

      svg {
        color: $textLight !important;
      }
    }

    .ant-select {
      padding: initial !important;

      &-arrow {
        width: 25px;
        top: 42%;
      }
    }
  }

  &__table {
    background-color: $bgLightGrey;
    padding: 40px 40px 140px 40px;

    .danger {
      td {
        &:first-child {
          border-radius: 5px 0 0 5px;
          border-left: 5px solid #E01838;
          border-spacing: initial;
        }
      }
    }

    .active {
      td {
        &:first-child {
          border-radius: 5px 0 0 5px;
          border-left: 5px solid #65CE5C;
          border-spacing: initial;
        }
      }
    }

    .disabled {
      td {
        &:first-child {
          border-radius: 5px 0 0 5px;
          border-left: 5px solid #9F9F9F;
          border-spacing: initial;
        }
      }
    }

    p {
      margin-bottom: 0;
      line-height: 20px;
    }

    .table-supplier {
      &__time {
        color: $textLightGrey;
      }

      .time-now {
        color: $textBlue;
      }
    }

    .landings-text {
      color: $textLightGrey;
      font-size: 12px;
    }

    .landings-tags {
      background-color: #FFF1AA;
      border-radius: 3px;
      padding: 0 5px;
      color: $textLightGrey;
      font-size: 12px;
      border: none;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .table-ison {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        color: $textLightGrey;
        margin-right: 10px;
        width: 16px;
        transition: ease .3s;

        &:hover {
          color: $textLight;
          cursor: pointer;
        }
      }
    }

    .time-table {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 1rem;

      &__image {
        width: 10%;
        margin-right: 10px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        width: 90%;

        span {
          font-weight: bold;
          margin: 0 0.25rem;
        }
      }
    }

    .time-valid {
      color: #4FA947;
      font-size: 12px;
    }

    .time-invalid {
      color: #E01838;
      font-size: 12px;
    }

    .table-count {
      p {
        color: $textLightGrey;
      }
    }

    .action-buttons {
      display: flex;
      flex-direction: column;

      .ant-btn {
        padding: 5px 20px !important;

        span {
          font-size: 14px;
        }
      }

      .btn-transparent {
        background-color: transparent !important;
        border: 1px solid transparent !important;
        box-shadow: none !important;
        color: $textGrey !important;
        margin-top: 10px;

        &:hover {
          background: #F1F1F1 !important;
        }
      }
    }

    .fa-trash {
      transition: ease .3s;
      &:hover {
        color: $textLightGrey;
        cursor: pointer;
      }
    }

    &_container {
      .ant-table {
        background-color: transparent;

        .ant-table-selection-extra {
          top: -4px;
          left: 0;
          opacity: 0;
          z-index: 10000;

          .anticon {
            font-size: 26px;
          }
        }

        table {
          border-spacing: 0 10px;

          thead {
            &>tr {
              &>th {
                font-size: 12px;
                line-height: 16px;
                font-weight: normal;
                background-color: #E3E3E3;
                border: none;
                padding: 1.5rem 1rem;

                &:first-child {
                  border-spacing: initial;
                }
              }
            }
          }

          tbody {
            &>tr {
              &>td {
                background-color: #FFFEFE;
                border-top: 1px solid #EBEBEB;
                border-bottom: 1px solid #EBEBEB;

                &:last-child {
                  border-radius: 0 5px 5px 0;
                  border-right: 1px solid #EBEBEB;
                }
              }
            }
          }
        }
      }
    }

    &_stats {
      display: flex;
      align-items: center;
      width: 100%;

      p {
        margin-bottom: 0;
      }

      .p-stats {
        font-weight: bold;
        margin-left: 10px;
      }
    }
  }

  .hide {
    opacity: 0;
    transition: ease .5s;
  }

  .active {
    opacity: 1;
    transition: ease .5s;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: $white;

    &_stats {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        margin-bottom: 0;
      }

      .p-stats {
        font-weight: bold;
        margin-left: 10px;
      }
    }

    &_buttons {
      display: flex;
      justify-content: flex-end;

      .ant-btn {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Range {
    display: none;
  }
}

.modal-list {
  width: 90% !important;

  .modal {
    &__heading {
      width: 100%;
      text-align: center;

      h1 {
        font-size: 22px;
        font-weight: 700;
        line-height: 150%;
      }
    }

    &__table {
      .ant-table {
        background-color: transparent;

        table {
          border-spacing: 0 10px;

          thead {
            &>tr {
              &>th {
                font-size: 12px;
                line-height: 16px;
                font-weight: normal;
                background-color: #E3E3E3;
                border: none;
                padding: 1.5rem 1rem;
              }
            }
          }

          tbody {
            &>tr {
              &>td {
                background-color: #FFFEFE;
                border-top: 1px solid #EBEBEB;
                border-bottom: 1px solid #EBEBEB;
                padding: 20px;

                &:first-child {
                  border-radius: 5px 0 0 5px;
                  border-left: 1px solid #EBEBEB;
                }

                &:last-child {
                  border-radius: 0 5px 5px 0;
                  border-right: 1px solid #EBEBEB;
                }
              }
            }
          }
        }
      }

      .table-time {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin-bottom: 0;

          &:last-child {
            font-weight: bold;
            margin-left: 5px;
          }
        }
      }

      .table-name-date {
        display: flex;

        &__image {
          margin-right: 10px;
        }

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          p {
            margin-bottom: 0.35rem;
          }

          .text-grey {
            color: $textLightGrey;
            margin-bottom: 0;
          }
        }
      }
    }

    &__data {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;

      p {
        margin-bottom: 0;
      }
    }
  }

  .ant-modal-footer {
    display: none;
  }
}