.Range, .RangeItem, .RangeAdd {

  &__heading {
    width: 100%;
    height: auto;
    padding: 2.5rem;
    background-color: $bgLight;

    h1 {
      @include headingText;
    }
  }

  &__supplier {
    padding: 2.5rem;
  }

  &__info {
    padding: 0 2.5rem;
    margin-bottom: 2.5rem;

    &_heading {
      h1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;

        span {
          margin-left: 1rem;
          color: $bgGrey;
          font-size: 18px;
        }
      }
    }

    &_list {
      width: 45%;

      &-field {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        .list-title {
          width: 30%;
        }

        .list-value {
          width: 70%;
        }
      }
    }
  }

  &__stock {
    padding: 0 2.5rem;

    &_content {

      &-files, &-valid {
        width: calc(100% - 10px);
      }

      &-files {
        display: flex;
        flex-direction: column;
        height: 100%;

        h2 {
          color: $textBlue;
          margin-bottom: 1rem;
        }

        .ant-upload {
          background-color: transparent !important;
          padding: 2rem 1rem !important;
          transition: all .3s !important;

          &:hover {
            background-color: #FBFBFB !important;
          }

          &-drag {

            &-icon {
              margin-bottom: 1rem !important;
            }
          }
        }
      }
    }

    &_statistic {
      margin: 2rem 0;

      &-heading {
        margin-bottom: 1rem;
      }

      &-list {
        display: flex;

        &--item {
          display: flex;
          flex-direction: column;
          align-items: center;

          &:first-child {
            align-items: flex-start;
          }

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
  }

  &__files {
    padding: 20px 2.5rem 20px 2.5rem;
    background-color: $bgLightGrey;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.05);

    h2 {
      margin-bottom: 20px;
    }

    &_add {
      width: 100%;
      border: 1px solid #CFCFCF;
      border-radius: 5px;
      padding: 1.25rem 1.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:hover {
        border: 1px solid $textBlue;
        background-color: #E3E3E3;
        cursor: pointer;
      }

      .ant-btn-primary {
        padding: 0 0.3rem !important;

        &:hover {
          background-color: $textBlue !important;

          svg, p, i {
            color: $white !important;
          }
        }

        svg {
          color: $white;
        }
      }

      p {
        color: $textBlue;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 1rem;
      }
    }

    &_filters {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .ant-input-affix-wrapper {
        width: calc(50% - 10px);

        svg {
          color: $textLight !important;
        }
      }
    }

    &_statistic {
      margin-top: 1rem;

      p {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    .ant-table {
      background-color: transparent;

      &-column-sorters {
        padding: 16px 0;
      }

      .table-name {
        display: flex;
        align-items: center;

        img {
          margin-right: 0.5rem;
          width: 15px;
        }
      }

      table {
        border-spacing: 0 10px;

        thead {
          &>tr {
            &>th {
              background-color: #E3E3E3;
              padding: 1rem;

              &:first-child {
                border-spacing: initial;
              }
            }
          }
        }

        tbody {
          &>tr {
            border: 1px solid #EBEBEB;

            &>td {
              background-color: #fff;
              padding: 2rem 1rem;

              &:first-child {
                border-radius: 5px 0 0 5px;
                border-left: 5px solid #F9AC69;
                border-spacing: initial;
              }

              &:last-child {
                border-radius: 0 5px 5px 0;
              }

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  &__land {
    padding: 40px 2.5rem;
    border: 1px solid #E3E2E2;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &_info {
      &-heading {
        p {
          color: #838383;
        }
      }

      &-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
          margin-bottom: 0;

          &:not(:last-child) {
            margin-right: 2rem;
          }

          span {
            margin-left: 0.5rem;
          }
        }
      }
    }

    &_button {

    }
  }

  &__buttons {
    padding: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.RangeItem, .RangeAdd {

  .ant-input {
    padding: 0.5rem 1rem !important;
    border-radius: 5px !important;
  }

  &__heading {
    h1 {
      span {
        color: $textLightGrey;
        margin-right: 1rem;
        font-size: 18px;
        transition: all .3s;

        &:hover {
          cursor: pointer;
          color: $textLight;
        }
      }
    }
  }

  &__name {
    padding: 40px 2.5rem;

    input {
      font-size: 18px;
    }
  }

  &__template {
    padding: 0 2.5rem 40px 2.5rem;
  }

  &__type {
    padding: 0 2.5rem 40px 2.5rem;

    &_text {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    &_select {
      margin-top: 10px;
      background-color: #F9F9F9;
      padding: 20px;

      .ant-col {
        &:nth-child(2) {
          .select-list {
            &__container {
              .ant-radio-group {
                height: 5rem;
              }
            }
          }
        }
        &:nth-child(3) {
          .select-list {
            &__container {
              .ant-radio-group {
                height: 2.5rem;
              }

              .ant-radio-wrapper {
                margin-right: 30px;
              }
            }
          }
        }
      }

      .select-list {

        .custom-radio {
          display: flex;
          align-items: flex-start;

          .ant-radio {
            margin-top: 4px;
          }

          span {
            display: flex;
            align-items: flex-start;
          }
        }

        .input-label {
          margin-bottom: 15px;
        }

        &__container {

          .ant-radio-group {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 6rem;
            width: fit-content;
            padding-right: 2rem;

            label {
              width: fit-content;
            }

            .ant-radio-wrapper {
              margin-bottom: 10px;
              margin-right: 30px;
            }

            .ant-input {
              padding: 0.5rem 0.75rem 0.5rem 1rem !important;
              border-radius: 5px;
              width: 40px !important;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  &__pool {
    padding: 0 2.5rem 40px 2.5rem;

    &_heading {
      margin-bottom: 10px;

      h1 {
        @include headingText;
        color: $black;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 10px;
      }
    }

    &_static {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin-top: 20px;

      p {
        span {
          font-weight: bold;
        }
      }

      .ant-btn {
        padding: 7px 10px !important;
        span {
          font-size: 14px !important;
        }
      }
    }

    .ant-table {
      background-color: #F8F8F8;

      table {
        border-spacing: 0 10px;

        thead {
          &>tr {
            &>th {
              background-color: #E3E3E3;
              padding: 2rem;

              &:first-child {
                border-spacing: initial;
              }
            }
          }
        }

        tbody {
          &>tr {

            &>td {
              background-color: #fff;
              padding: 2rem;

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      &-thead {
         & > tr {
           & > th {
             background-color: #E3E3E3;
             color: #04A2D3;
           }
         }
       }

      &-tbody {

        & > tr {
          transition: all .3s;

          &:hover {
            cursor: pointer;

            & > td {
              background-color: #F9F9F9 !important;
              color: $black;

              p {
                color: $black;
              }
            }
          }
        }
      }

      .selectedRow {

        & > td {
          background-color: #00ADE3 !important;
          color: $white;
        }

        p {
          color: $white;
        }

        &:hover {
          & > td {
            background-color: #00ADE3 !important;
            color: $white;

            p {
              color: $white;
            }
          }
        }
      }

      p {
        margin-bottom: 0;
      }

      .blue-text {
        color: #04A2D3;
      }
    }
  }

  &__columns {
    padding: 0 2.5rem 2.5rem 2.5rem;

    &_heading {
      margin-bottom: 10px;

      h1 {
        @include headingText;
        color: $black;
        font-weight: bold;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    &_content {
      background-color: #F9F9F9;
      padding: 30px 140px;

      &-icon {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .fa-times {
          cursor: pointer;
          transition: all .3s;

          &:hover {
            color: #666666;
          }
        }
      }

      .ant-row-center {
        &:first-child {
          margin-bottom: 15px !important;

          h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
          }
        }
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      .ant-select {
        width: 100%;
      }

      .button-col {
        display: flex;
        justify-content: flex-end;
      }
    }

    .ant-btn {
      padding: 7px 10px !important;
      span {
        font-size: 14px !important;
      }
    }
  }

  &__correct {
    padding: 20px 2.5rem;
    background-color: $bgLightGrey;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.05);

    &_is {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      p {
        color: #04A2D3;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    &_heading {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .ant-row {
        width: 100%;
        display: flex;
        align-items: center;

        .ant-input-affix-wrapper {
          padding: 0 1rem !important;

          .ant-input {
            padding: 0.5rem !important;
          }
        }

        p {
          margin-bottom: 0;
        }
      }

    }

    .ant-table {
      background-color: transparent;
      font-size: 12px;

      table {
        border-spacing: 0 10px;

        thead {
          &>tr {
            &>th {
              background-color: #EBEBEB;
              padding: 2rem;
              font-weight: 400;

              &:first-child {
                border-spacing: initial;
              }
            }
          }
        }

        tbody {
          &>tr {

            &>td {
              background-color: #fff;
              padding: 1.5rem 2rem;
              border: 0;

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .ant-pagination {
      margin: 10px 0 20px 0 !important;
    }
  }

  &__check {
    display: flex;
    flex-direction: column;
    padding: 40px;

    button {
      span {
        font-size: 16px;
        line-height: 18px;
      }
    }

    &_buttons {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-first {
        button {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Range {
    display: none;
  }
}