
.Group {

  //TODO вынести эту чать в отдельный компонент, чтобы не было повтореий (На полноэкранный input)
  .ant-input {
    padding: 0.5rem 1rem !important;
    border-radius: 5px !important;
  }
  &__name {
    padding: 40px;

    input {
      font-size: 18px;
    }
  }

  //End of name section

  &__info {
    padding: 0 40px 40px 40px;

    h3 {
      margin-bottom: 20px;
    }

    &_content {
      display: flex;
      align-items: flex-start;

      &-item {
        text-align: center;

        &:not(:last-child) {
          margin-right: 40px;
        }

        .ant-progress-inner {
          border-radius: 0;

          .ant-progress-bg {
            border-radius: 0;
            background-color: $textBlue;
          }
        }

        p {
          margin-bottom: 10px;
        }

        .stats-text {
          color: $textDark;

          span {
            color: $textGrey;
            margin: 0 2px;
          }
        }
      }
    }
  }

  &__filters {
    padding: 20px 40px 40px 40px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    display: flex;
    align-items: flex-start;

    &_heading {
      display: flex;
      align-items: center;
      margin-right: 10%;

      h1 {
        margin: 0 20px;
      }

      i {
        cursor: pointer;
        transition: all .3s;
        color: $bgGrey;

        &:hover {
          color: $textLightGrey;
        }
      }
    }

    &_data {
      display: flex;
      flex-direction: column;
      width: 100%;

      p {
        font-size: 12px;
        line-height: 18px;
      }

      &-heading {
        p {
          color: $textGrey;
        }
      }

      &-info {
        display: flex;

        &--column {
          display: flex;
          flex-direction: column;

          &:nth-child(1) {
            width: 20%;
          }

          &:nth-child(2) {
            width: 10%;
          }

          &:nth-child(3) {
            width: 10%;
          }

          &:nth-child(4) {
            justify-content: center;
            align-items: center;
            margin-left: 20px;

            button {
              padding: 5px 30px !important;

              span {
                font-size: 14px !important;
              }
            }
          }

          &:not(:last-child) {
            margin-right: 30px;
          }

          .data-item {
            display: flex;
            justify-content: space-between;
            width: 100%;

            p {
              &:first-child {
                width: 80%;
                color: $textLightGrey;
              }
              &:last-child {
                width: 20%;
                color: $black;
              }
            }
          }
        }
      }
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__data {
    background-color: $white;
    padding: 20px 40px;

    &_primary {
      padding: 10px;
      border: 1px solid #F2994A;
      margin-bottom: 20px;

      .primary-filter-text {
        font-size: 12px;
        line-height: 18px;
        color: #0E7A9E;
      }

      .filter {
        background-color: #E4F2FC;
        width: 100%;
        padding: 15px;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .fa-times {
          color: #4F4F4F;
          font-size: 16px;
          position: absolute;
          top: 15px;
          right: 15px;
          transition: all .3s;

          &:hover {
            color: $textLightGrey;
            cursor: pointer;
          }
        }

        &__heading {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            margin-bottom: 0;
          }

          &_extra {
            display: flex;
            align-items: center;

            p {
              color: $textBlue;
              margin-right: 20px;
              margin-bottom: 0;

              span {
                font-weight: bold;
              }
            }

            button {
              width: 40px;
              height: 40px !important;
              padding: 0 !important;
            }
          }
        }

        &__item {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          &_main {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 10px;
          }

          &_place {

            &:not(:last-child) {
              margin-right: 20px;
            }

            &:nth-child(1) {
              width: 27.5%;
            }

            &:nth-child(2) {
              width: 22.5%;
            }

            &:nth-child(3) {
              width: 46.5%;
            }

            &:nth-child(4) {
              button {
                width: 40px;
                height: 40px !important;
                padding: 0 !important;
              }
            }

            .ant-select {
              width: 100%;
            }
          }

          &_extra {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 10px;

            &-item {
              &:first-child {
                p {
                  color: $textBlue;
                  margin-bottom: 0;

                  span {
                    font-weight: bold;
                  }
                }

                margin-right: 20px;
              }
              &:last-child {
                button {
                  width: 40px;
                  height: 40px !important;
                  padding: 0 !important;
                }
              }
            }
          }
        }
      }
    }

    &_secondary {
      padding: 10px;
      border: 1px solid #F2994A;
      margin-bottom: 20px;

      .secondary-filter-text {
        font-size: 12px;
        line-height: 18px;
        color: #FFA04B;

        span {
          color: $textLightGrey;
          margin-left: 10px;
        }
      }
      
      .filter {
        background-color: #FFE9D6;
        width: 100%;
        padding: 15px;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .fa-times {
          color: #4F4F4F;
          font-size: 16px;
          position: absolute;
          top: 15px;
          right: 15px;
          transition: all .3s;

          &:hover {
            color: $textLightGrey;
            cursor: pointer;
          }
        }

        &__heading {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            margin-bottom: 0;
          }

          &_extra {
            display: flex;
            align-items: center;

            p {
              color: #F2994A;
              margin-right: 20px;
              margin-bottom: 0;

              span {
                font-weight: bold;
              }
            }

            button {
              width: 40px;
              height: 40px !important;
              padding: 0 !important;
            }
          }
        }

        &__item {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          &_main {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 10px;
          }

          &_place {

            &:not(:last-child) {
              margin-right: 20px;
            }

            &:nth-child(1) {
              width: 27.5%;
            }

            &:nth-child(2) {
              width: 22.5%;
            }

            &:nth-child(3) {
              width: 46.5%;
            }

            &:nth-child(4) {
              button {
                width: 40px;
                height: 40px !important;
                padding: 0 !important;
              }
            }

            .ant-select {
              width: 100%;
            }
          }

          &_extra {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 10px;

            &-item {
              &:first-child {
                p {
                  color: #F2994A;
                  margin-bottom: 0;

                  span {
                    font-weight: bold;
                  }
                }

                margin-right: 20px;
              }
              &:last-child {
                button {
                  width: 40px;
                  height: 40px !important;
                  padding: 0 !important;
                }
              }
            }
          }
        }
      }
    }

    &_info {
      p {
        span {
          font-weight: bold;
          margin-left: 10px;
        }
      }

      &-buttons {
        display: flex;

        .buttons-block {
          display: flex;
          flex-direction: column;
          align-items: center;

          &:nth-child(2) {
            button {
              span {
                font-size: 14px;
              }
            }
          }

          &:not(:last-child) {
            margin-right: 10px;
          }

          p {
            font-size: 12px;
            color: $textLightGrey;
            margin-top: 5px;
            text-align: center;
          }
        }
      }
    }

    &_hide {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      i {
        cursor: pointer;
        transition: all .3s;
        color: $bgGrey;
        font-size: 18px;

        &:hover {
          color: $textLightGrey;
        }
      }
    }
  }

  &__table {
    padding: 40px 40px 40px 40px;
    background-color: $bgLightGrey;

    &_actions {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &-item {
        width: 100%;

        .heading-grey-md {
          margin-bottom: 10px;
        }

        .ant-input-affix-wrapper {
          padding: 0 1rem !important;
        }

        //Tabs styles

        .ant-tabs-nav-list {
          border: 1px solid $textGrey;
          border-radius: 5px;
          padding: 0;

          .ant-tabs-ink-bar {
            background-color: transparent;
          }

          .ant-tabs-tab {
            background-color: transparent;
            padding: 8px 24px;
            margin: 3px;

            .ant-tabs-tab-btn {
              color: $textGrey;
            }
          }

          .ant-tabs-tab-active {
            background-color: $textGrey;
            border-radius: 3px;

            .ant-tabs-tab-btn {
              color: $white;
            }
          }
        }

        .ant-table-wrapper {
          margin-top: 20px;
        }
      }
    }
  }

  &__footer {
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &_data {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-text {
        .footer-heading {
          font-size: 18px;
          line-height: 26px;

          span {
            &:first-child {
              margin-right: 10px;
            }
            &:last-child {
              margin-left: 20px;
            }
          }
        }

        .footer-groups {
          span {
            margin: 0 10px;
          }
        }
      }

      &-buttons {
        button {

          &:not(:last-child) {
            margin-right: 10px;
          }

          i {
            margin-right: 10px;
          }
        }
      }
    }

    &_banner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      &-warning {
        background-color: #F2F2F2;
        padding: 15px 25px;
        margin-bottom: 20px;

        &--data {
          display: flex;

          img {
            width: 20px;
            height: 20px;
            margin-right: 15px;
          }

          .warning-text {
            margin-top: 3px;
          }
        }

        &--buttons {
          button {
            padding: 5px 10px !important;

            &:not(:last-child) {
              margin-right: 10px;
            }

            span {
              font-size: 14px !important;
            }
          }
        }

        .warning-grey {
          color: $textLightGrey;
        }
      }

      &-buttons {
        button {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}