* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

//html {
//  scroll-behavior: smooth;
//}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.table-btn, button[disabled].table-btn  {
  padding: 0.35rem 1rem !important;

  span {
    font-size: 16px;
    line-height: 18px;
  }
}

.input-label {
  @include inputLabel;
}

.text-danger {
  @include textDanger;
}

.primary-text {
  @include primaryText;
}

.list-title {
  @include listTitle;
}

.list-value {
  @include listValue;
}

.post-title {
  @include postList;
}

.text-dark {
  @include textDark;
}

.small-input-label {
  @include inputLabelSm;
}

.small-input-light {
  @include smallInputLight;
}

.heading-grey-md {
  @include headingGreyMd;
}

.heading-black-md-big {
  @include headingBlackMdBig;
}

.ant-select-selector, .ant-input-number, .ant-input-affix-wrapper {
  background: #FFFEFE !important;
  border: 1px solid #CACACA !important;
  box-sizing: border-box;
  border-radius: 5px !important;
}

.ant-pagination-prev, .ant-pagination-next, .ant-pagination-item {
  width: 39px !important;
  height: 39px !important;
  border-radius: 5px !important;

  button {
    border: 1px solid #CACACA !important;
  }

  &-link {
    border-radius: 5px !important;
  }

  a {
    line-height: 37px !important;
  }
}

.ant-input-affix-wrapper {
  padding: 0.5rem 1rem !important;
}

.ant-input-number, {
  padding: 0.25rem 0.5rem !important;
}

.ant-select {
  width: 50%;

  &-selector {
    padding: 0.25rem 1rem !important;
    height: auto !important;
  }
}

.ant-btn-primary {
  @include primaryButton;
}

.ant-btn-secondary {
  @include secondaryButton;
}

.btn-grey-light {
  @include greyLightButton;
}

.btn-blue-light {
  @include blueLightButton;
}

.ant-btn[disabled] {
  @include buttonDisabled;
}

.ant-checkbox-checked {

  &::after {
    border: 1px solid #666666;
  }

  .ant-checkbox-inner {
    background: #fff !important;
    border: 1px solid #D9DADB !important;
    border-radius: 5px !important;
    width: 18px !important;
    height: 18px !important;

    &::after {
      border: 2px solid #666666 !important;
      border-top: 0 !important;
      border-left: 0 !important;
      left: 27% !important
    }
  }
}

.ant-input {
  padding: 0 0.5rem !important;
}

.ant-input-number-input {
  text-align: center !important;
}

.ant-checkbox-inner {
  border-radius: 5px !important;
  width: 18px !important;
  height: 18px !important;
}

.ant-checkbox-checked {
  &::after {
    border: 1px solid #D9DADB !important;
    border-radius: 5px !important;
  }
}

.ant-switch-checked {
  background-color: $textBlue !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #E4E4E4 !important;

  &::after {
    background-color: #666666;
    width: 6px;
    height: 6px;
    top: 4px;
    left: 4px;
  }
}

textarea.ant-input {
  border-color: $borderGreyColor;
}

.ant-pagination-item {

  &-active {
    border-color: $textBlue !important;

    a {
      color: $textBlue !important;
    }
  }
}

.ant-modal {
  width: fit-content !important;

  &-content {
    padding: 1rem 2.5rem;
    background-color: #F9FAFB !important;
  }

  &-body {
    padding: 20px 0 !important;

    .modal-content {
      h1 {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
        line-height: 150%;
      }
    }

    .modal-moq {
      margin-bottom: 20px;

      .ant-input {
        padding: 0.5rem 1rem !important;
        border-radius: 5px !important;
        background-color: #F4F4F4;
      }
    }

    button {
      width: 100%;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0 10px 0 !important;

    button {
      padding: 0.5rem 0.75rem !important;
    }
  }
}

.ant-select-item-option-content {
  display: flex;
  justify-content: space-between;

  .column-input {
    color: $textGrey;
    margin-bottom: 0;
    line-height: inherit;
  }
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
