
@mixin headingText {
  font-size: 22px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0;
  color: $textGrey;
}

@mixin textDanger {
  color: $textDanger;
}

@mixin primaryText {
  color: $textBlue;
  font-weight: bold;
}

@mixin inputLabel {
  font-size: 14px;
  line-height: 16px;
  color: $black;
  font-weight: bold;
  margin: 10px 0;
}

@mixin listTitle {
  font-size: 14px;
  line-height: 16px;
  color: $textLight;
}

@mixin listValue {
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

@mixin postList {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: $bgGrey;
}

@mixin headingGreyMd {
  font-size: 16px;
  font-weight: normal;
  color: $textLightGrey;
}

@mixin headingBlackMdBig {
  font-weight: bold;
  font-size: 18px;
  color: $black;
}

@mixin inputLabelSm {
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  color: $textLightGrey;
}